.App {
  text-align: center;
}

body{

  background-color: #282c34;
  color: white;

}

.lista{

  display: inline-table;
  margin: 20px;
  cursor: pointer;

}

.NavBar {
  background-color: #282c34;
  margin: 20px;
  border-radius: 10px;
  list-style: none;
  font-size: calc(10px + 2vmin);
  color: rgb(240, 207, 76);
}

button{

  font-size: 20px;
  border-radius: 8px;
  background-color: rgb(240, 207, 76);

}